div{
    margin: 10px 0;
}
label{
    display: block;
    margin-bottom: 5px;
}
input{
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
    border: 1px solid #3f3f3f;
    border-radius: 3px;
}
input:focus { 
    outline: none !important;
    border-color:#1e1e1e;
}